/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

header{
    background-color: #15293F;
    color: #FFFFFE;
    padding: 0.5em 1em;  /* Reduced vertical padding */
    display: flex;
    align-items: center;  /* Vertically center the logo and the title */
    justify-content: space-between;
}

.header-content {
    display: flex;        /* Creates a flex container */
    align-items: center;  /* Vertically aligns all items in the center */
    justify-content: space-between; /* Maximizes the space between items */
    padding: 0 1em;       /* Adds a little space on both sides of the content */
}

footer {
    background-color: #15293F;
    color: #FFFFFE;
    padding: 0.5em 1em; /* Adjust padding as needed */
    text-align: center; /* Center the text */
    font-size: 1em;
    position: fixed;  /* Make the footer stick to the bottom */
    bottom: 0;        /* Align it to the bottom */
    width: 100%;      /* Make sure it spans the full width */
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.15);  /* Give it a slight shadow at the top */
}

.app-title {
    color: white;
    font-size: 1.5em;    
    font-weight: bold;
    padding: 5px 15px;  /* Additional padding around the text for the gradient background */
    
    /* Gradient Background */
    background: linear-gradient(145deg, #132740, #1a3a58);
    
    /* Rounded Corners */
    border-radius: 10px;

    /* Text Shadow */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;   /* Absolute positioning */
    right: 1em;           /* Positioned 1em from the right */
}

#kean-logo {
    width: 150px; /* Or whatever size you want */
    margin: 10px; /* Space around the logo */
}

#sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Initial state hidden */
    height: 100%;
    width: 250px;
    background-color: #0f1e2e;
    transition: 0.3s; /* Smooth slide effect */
    padding-top: 60px; /* Space for the toggle button */
    z-index: 2; /* Make sure the sidebar is on top */
}

.sidebar-opened #sidebar {
    box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.4); /* Shadow for sidebar when opened */
}

#sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s; /* Smooth hover effect */
    border-radius: 4px; /* For a rounded corner effect on hover background */
}

#sidebar a:hover {
    color: #f1f1f1;
    background-color: rgba(255, 255, 255, 0.1); /* Slight white tint on hover */
    transform: translateX(10px); /* Moves the item slightly to the right on hover */
}

#sidebarToggle {
    position: fixed;
    top: 50%;   /* Center vertically */
    left: -15px;   /* Initially position it slightly to the left */
    transform: translateY(-50%);   /* To perfectly center it vertically */
    background-color: #0f1e2e;
    color: #FFFFFF;
    border: none;
    font-size: 2em;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 3;
    transition: 0.3s left;   /* Modify this to animate only the "left" property */
}

#sidebarToggle:hover {
    background-color: #1a3550;   /* Slightly darker color on hover */
}

#sidebarToggle:focus {
    outline: none;  /* Hide the default outline on focus for better appearance. 
                      Ensure there's an alternate way to denote focus for accessibility. */
}

.sidebar-opened #sidebarToggle {
    left: 250px;   /* This is sidebar's width minus the width of the toggle button */
    transform: translateY(-50%) rotate(180deg);
}