{% extends "base.html" %}

{% block content %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <h1>Interactive Analysis</h1>
    
    <!-- Loop through the candlestick charts and display them -->
    {% for company, candlestick_chart in candlestick_charts.items() %}
        <h2>{{ company }}</h2>
        <div id="{{ company }}_chart"></div>
        <script>
            var chartData = {{ candlestick_chart.to_json() | safe }};
            Plotly.newPlot("{{ company }}_chart", chartData.data, chartData.layout);
        </script>
    {% endfor %}
{% endblock %}